
/*scrollbar*/
.mobile-sections-menu-scrollbar {
    height: 2px;
    position: absolute;
    bottom: 8px;
    right: 10px;
    left: 10px;
    display: flex;
    align-items: center;
}
.mobile-sections-menu-scrollbar:before {
    content: '';
    background-color: #EAEDFF;
    height: 2px;
    width: calc(100% + 20px);
    position: absolute;
    left: -10px;
    right: -10px;
}
.mobile-sections-menu-thumb {
    height: 4px;
    background-color: #6E89C3;
    border-radius: 6px;
    width: 40px;
    position: absolute;
    left: 10px;
    cursor: pointer;
}
/*scrollbar*/


.mobile-sections-menu {
    display: none;
    position: fixed;
    width: 100%;
    z-index: 101;
    transition-duration: var(--site-transition);
}

.mobile-sections-menu-list {
    display: flex;
    flex-direction: row;
    padding: 24px 0;
    gap: 10px;
    overflow-x: scroll;
    scrollbar-width: none;
    background-color: #fff;
    width: 100%;
    transition-duration: var(--site-transition);
}
.mobile-sections-menu.top .mobile-sections-menu-list {
    padding: 14px 0 24px;
}

.mobile-section-menu-item {
    display: block;
    flex-direction: column;
    align-items: center;
    padding: 4px 4px 10px;
    gap: 4px;
    scroll-margin-left: 10px;
    width: 100px;
    min-width: 100px;
    height: 130px;
    background-color: #fff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    cursor: pointer;
    transition-duration: var(--site-transition);
}
.mobile-section-menu-item:first-child {
    margin-left: 10px;
}
.mobile-section-menu-item:last-child {
    margin-right: 10px;
}
.mobile-section-menu-item.active {
    background-color: #EAEDFF;
}
.mobile-section-menu-item picture {
    width: 92px;
    height: 92px;
    border-radius: 10px;
    overflow: hidden;
    transition-duration: var(--site-transition);
    display: block;
    margin: auto;
}
.mobile-sections-menu.top .mobile-section-menu-item picture {
    height: 0;
}
.mobile-sections-menu.top .mobile-section-menu-item {
    height: 34px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.16);
}
.section-menu-item-title {
    font-weight: 300;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #221D1E;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
}
.mobile-sections-menu.top .section-menu-item-title {
    margin-top: 0;
}

@media screen and (max-width: 1023px) {
    main.beauty-landing.store.shop-store {
        padding-top: 174px !important;
    }
}
@media (max-width: 1280px) {
    .header.hide {
        transform: none;
    }
    .header,
    header.scroll {
        box-shadow: none;
    }
}
@media screen and (max-width: 1279px) {
    main.beauty-landing.store.shop-store {
        padding-top: 174px !important;
    }
    .mobile-sections-menu {
        display: block;
    }

    .shop-store .shop-section .shop-section__goods_sidebar {
        display: none;
    }
}